/* font-family: 'Permanent Marker', cursive;
font-family: 'Indie Flower', cursive; */

html {
    background-color: bisque;
    background-image: url(assets/Wade.png);
    background-position-x: 90%;
    background-position-y: 3vw;
    background-repeat: no-repeat;
    margin: 0 auto;
}


h1 {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 5vw;
    color: darkblue;
}

h3 {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 2vw;
    margin-top: -2%;

}

#titles{
    width: 50%;
    margin: 0 auto;
}

#container {
    text-align: center;
    line-height: 1;
    width: 20%;
    margin: 0 auto;
}

.field {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
    float: right;
    margin-bottom: 2%;
}

#modDiv {
    margin-bottom: 5%;
}
 
.inputs {
    float: right;
    width: 50%;
    background-color: lightblue;
}

#dice {
    float: right;
    width: 53%;
}

#rollButton {
    margin-bottom: 4%;
}

#result {
    margin-bottom: 5%;
}

#diceRolls, #history {
    width: min-content;
    margin: 0 auto;
}