html {
    background-color: bisque;
}

#container {
    text-align: center;
    line-height: 1;
    width: 20%;
    margin: 0 auto;
}

.field {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
    float: right;
    margin-bottom: 2%;
}

#modDiv {
    margin-bottom: 5%;
}

.inputs {
    float: right;
    width: 50%;
}

#dice {
    float: right;
    width: 53%;
}

#rollButton {
    margin-bottom: 4%;
}

#result {
    margin-bottom: 5%;
}

#diceRolls, #history {
    width: min-content;
    margin: 0 auto;
}