html {
    background-color: bisque;
}

#container {
    text-align: center;
    line-height: 1;
    width: 20%;
    margin: 0 auto;
}

#quantityDiv, #diceDiv, #modDiv {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
    /* display: inline; */
    float: right;
}

#dice, #quantity, #mod {
    float: right;
    width: 50%;
}